@model List<MVCPAP.Models.Video>
@{
    Layout = "~/Views/Shared/NavBar.cshtml";
}

    <div class="container px-md-3 mt-5 px-sm-0 Content">
        <img src="~/images/Logo6.png" width="300" alt="Alternate Text" />
        <br /><br /><br />
        <h2>Main page</h2>

        <p>here videos will be displayed</p>



    </div>