@model  List<MVCPAP.Models.Video>

<style>
    .videolist {
        border: 2px solid black;
        width:50%;
        height:auto;
        margin-top:50px;
        float:left;

    }
    .videolist .Video{
        width:60%;
        height:60%;
        margin:auto;
        margin-top:10px;
    }
</style>

<script>
    $(function () {

        //$(".username").click(function (span) {
        //    var User = span.toElement.textContent.replace('#', '-');
        //    window.location.assign("../../../Home/profile/" + User)
        //});

        //$(".Video").click(function (div) {
        //    var id = 0;
        //    if (div.toElement.classList == 'Video') {
        //        var id = div.toElement.id;
        //    }
        //    else {
        //        id = $("#" + div.toElement.id).closest(".Video").attr('id');
        //    }

        //    if (div.toElement.classList != 'username')
        //        window.location.assign("../../../Home/VideoPage/" + id);
        //});

    });
</script>

<div class="videolist">
    @foreach (MVCPAP.Models.Video video in Model)
    {
        <div id="@video.id" class="Video">
            <div id="One_@video.id" class="one">
                <img id="Img_@video.id" src="~/images/@video.thumbnail" alt="Alternate Text" />
            </div>
            <div id="Two_@video.id" class="two">
                <h2 id="Title_@video.id">@video.title</h2>
                <p id="Des_@video.id" class="description">@video.description</p>
                <span id="User_@video.id" class="username">@video.discriminator#@video.username</span>
            </div>
        </div>

    }
</div>